/* BODY */
body {
  background-color: #f1f0fa;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

html,
body {
  min-height: 100vh;
  margin: auto;
}

h1,
header,
#result-data {
  margin-left: 25px;
}
p, #total {
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
  color:  rgb(75, 0, 145);
  font-size: 20px;
  font-weight: bold;
}

/* FORM ELEMENTS */
input {
  font-family:"Roboto", sans-serif;
  padding: 27px 10px;
  width: 100px;
  background: #fcfcfc;
  border: 1px solid;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}

/* BUTTONS */
button {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 25px;
  font-size: 20px;
  text-align: center;
  box-shadow: 0 2px #999;
  cursor: pointer;
  outline: none;
  margin-left: 25px;
}

button:hover {
  background-color: rgb(79, 7, 146);
}
button:active {
  background-color: rgb(97, 16, 173);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
